build_info.json

*.DS_Store
tfmicro/*.o

^bin/dep/all
bin/*
.cproject
.project
.settings/*
.vscode/*
*~
tools/make/config.mk
cflie.*
version.c
tags

/cf2.*
/tag.*
*.gch

/generated-test/**

current_platform.mk
